

        <!-- page content -->
        <div >
          <div class="">
            <div class="page-title">
              <div class="title_left">
                
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Leads</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" ng-controller="leadsController">
		
				  <div><button type="button" ng-click="init()" class="btn btn-round btn-success" data-toggle="modal" data-target=".bs-example-modal-lg">+</button></div>
				  
<!-- Ventana Modal -->
				  
<div id="addLead" class="modal fade bs-example-modal-lg"  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Add Lead</h4>
                        </div>
                        <div class="modal-body">

					<form class="form-horizontal form-label-left" ng-submit="addLead()">
					
					
					<div class="form-group">

					
				     <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" required="required" placeholder="Prospect Name" ng-model="lead.contactName">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" id="inputSuccess3" required="required" placeholder="Phone" ng-model="lead.phoneNumber" input-mask="{mask: '(999) 999-9999'}">
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                      </div>
 
 
 		                              <div class="col-md-12 xdisplay_inputx form-group has-feedback">
		                                <input type="date" class="form-control has-feedback-left" required="required" id="single_cal2" ng-model="lead.leadDate" placeholder="Lead Date">
		                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
		                                <span id="inputSuccess2Status4" class="sr-only">(success)</span>
		                              </div>


                      <div class="form-group">
                        <div class="col-md-13 col-sm-13 col-xs-12">
                          <input vs-google-autocomplete
                       ng-model="addressDb.name"
                 	   vs-place="address.place" 
                 	   vs-place-id="addressDb.placeId"
                       vs-street-number="addressDb.streetNumber" 
                       vs-street="addressDb.street"
                       vs-city="addressDb.city"
                       vs-state="addressDb.state"
                       vs-country-short="address.components.countryCode"
                       vs-country="address.components.country"
                       vs-post-code="addressDb.postCode"
                       vs-district="address.components.district"
                       vs-latitude="address.components.location.lat"
                       vs-longitude="address.components.location.long"
                 
                 type="text" 
                 name="address"
                 id="address"
                 class="form-control"
                 placeholder="Enter address Google">
                          <span class="fa fa-home form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      
       
                      
                      <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="text" id="streetNumber" readonly="readonly" placeholder="St Number" required="required" ng-model="addressDb.streetNumber"  class="form-control col-md-7 col-xs-12">
                         
                        </div>
                      

                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="street"   readonly="readonly" placeholder="Name" required="required" ng-model="addressDb.street" class="form-control col-md-7 col-xs-12">
                          
                        </div>
                      </div>  

                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="city" readonly="readonly" placeholder="City" required="required" ng-model="addressDb.city" class="form-control col-md-7 col-xs-12">
                        </div>
                        
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="text" id="state" readonly="readonly" placeholder="State" required="required" ng-model="addressDb.state" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>  
                     
                     <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="state" readonly="readonly" placeholder="Zip Code"  required="required" ng-model="addressDb.postCode" class="form-control col-md-7 col-xs-12">
                        </div>
                        

                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="suite" placeholder="Suite/Apto"  ng-model="addressDb.address2" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>  
                      
                      <div class="ln_solid"></div>

                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Appoiment Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="bir" ng-model="lead.appoimentDate" class="date-picker form-control col-md-7 col-xs-12" required="required" type="date">
                            </div>
                      </div> 
                      
                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Appoiment Hour <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="apphour" ng-model="lead.appoimentTime" class="date-picker form-control col-md-7 col-xs-12" placeholder="Ex. 4:00 PM." required="required" type="text">
                            </div>
                      </div>                       
                                       
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Origin</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select id="select2" data-width="100%" class="select2_single form-control" required="required" ng-model="lead.origin"  ng-options="origins.idOrigin as origins.name for origins in origins">
                          </select>
                        </div>
                      </div>  
                        
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Referral</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select id="select2" data-width="100%" class="form-control" required="required" ng-model="lead.referral" ng-options="referrals.idReferral as referrals.sureName + '  ' + referrals.lastName for referrals in referrals">
                          </select>
                        </div>
                      </div>                      


                      
                      <input type="hidden" id="Seller"  required="" ng-model="lead.sellers"  class="form-control col-md-7 col-xs-12">
                      				  
                      <input type="hidden" id="Place Id"  required="required" ng-model="address.components.placeId"  class="form-control col-md-7 col-xs-12">
                    
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Observations</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <textarea class="form-control" rows="3" ng-model="lead.observations"></textarea>
                          
                        </div>
                      </div>                                       

	  			  </div>     
	  			  
	  			                
                      
			                         
                       <div class="ln_solid"></div>
                       <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                      </div>
                        
				</form>
				
                      </div>
                    </div>
                  </div>
                </div>
				
<!-- /Ventana Modal -->				
				
				
 <table id="tbLead" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Status</th>
                          <th>Lead Date</th>
                          <th>Prospect Name</th>
                          <th>Phone</th>
                          <th>Address</th>
						  <th>Observations</th>
						  <th>Edition</th>
						  
  
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="lead in leads track by $index" class="ng-scope">
                             
                            <td ng-if="lead.statLead=='3'"><button  type="button" ng-click="editCurrLeadStatus($index)" data-toggle="modal" data-target="#editLeadStatus" class="btn btn-success btn-xs">Signed</button></td>
                            <td ng-if="lead.statLead=='0'"><button  type="button" ng-click="editCurrLeadStatus($index)" data-toggle="modal" data-target="#editLeadStatus" class="btn btn-info btn-xs">Active</button></td>
                            <td ng-if="lead.statLead=='1'"><button  type="button" ng-click="editCurrLeadStatus($index)" data-toggle="modal" data-target="#editLeadStatus" class="btn btn-danger btn-xs">Canceled</button></td>
                            <td ng-if="lead.statLead=='2'"><button  type="button" ng-click="editCurrLeadStatus($index)" data-toggle="modal" data-target="#editLeadStatus" class="btn btn-warning btn-xs">FollowUp</button></td>
							<td ng-bind="lead.leadDate | date:'dd/MMM/yyyy'"></td>

									<td>{{lead.contactName}}</td>
									<td>{{lead.phoneNumber}}</td>
									<td>{{lead.addressName}}</td>
									
								
									<td ng-bind="lead.observations"></td>
									<td>
									        <a ng-if="lead.statLead != '3'" href="#/proyect-wizard" ng-click="leadWizard($index)"class="btn btn-primary btn-xs" ><i class="fa fa-folder"></i></a>
											<a class="btn btn-info btn-xs" ng-click="editCurrLead($index)" data-toggle="modal" data-target="#editLead"><i class="fa fa-pencil"></i></a>
                           					<a class="btn btn-danger btn-xs" ng-click="borrar($index)"><i class="fa fa-trash-o"></i></a>
                           					<a class="btn btn-warning btn-xs" ng-click="leadActivity($index)" data-toggle="modal" data-target="#editLeadAct"><i class="fa fa-comments"></i></a>
									</td>
									
		
							   
                        </tr>

                      </tbody>

                    </table>
<!-- Ventana Modal - Activitys -->
    
                  <div id="editLeadAct" class="modal fade bs-example-modal-ed" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Recent Activitys</h4>
                        </div>
                        <div class="modal-body">

                        <h4>Customer : {{nameCustomer}}</h4>

                        <!-- end of user messages -->          
                        <ul class="messages" ng-repeat="act in leadActivitys track by $index" class="ng-scope">
                          <li>
                            <img ng-src="images/{{act.user.imageUrl}}" class="avatar" alt="Avatar">
                            <div class="message_date">
                              <h3 class="date text-info">{{act.fecRecord | date:'dd'}}</h3>
                              <p class="month">{{act.fecRecord | date:'MMM'}}</p>
                            </div>
                            <div class="message_wrapper">
                              <h4 class="heading">{{act.user.name + " " + act.user.lastName}}</h4>
                              <blockquote class="message" ng-bind="act.descActivity"> </blockquote> 
               
                              <br />
                              <a class="btn btn-danger btn-xs" ng-click="removeLeadAct($index)"><i class="fa fa-trash-o"></i></a>

                                


                            </div>
                          </li>
                          
                        </ul>
                        <div><button type="button"  class="btn btn-round btn-success" ng-click="buttLeadAct()">+</button></div> 
 			                    <div class="well" style="overflow: auto" ng-if="showFields == 1">
			                      
										                          <div class="form-group">
										                            <label class="control-label col-md-6 col-sm-6 col-xs-12" for="">Activity <span class="required">*</span>
										                            </label>
										                            <div class="col-md-10 col-sm-10 col-xs-12">
										                              <textarea class="form-control" rows="3" ng-model="LeadActivity.descActivity" required="required"></textarea>	
										                            </div>
										                          </div>
										                          <button type="button" class="btn btn-primary" ng-click="saveLeadAct()">Save</button>
			                      

			                    </div> 
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         
                        </div>

                      </div>
                    </div>
                  </div>
    
    
    
				  
<!-- Ventana Modal - End Activitys -->
				  
<div id="editLead" class="modal fade bs-example-modal-ed"  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Edit Lead</h4>
                        </div>
                        <div class="modal-body">

					<form class="form-horizontal form-label-left" ng-submit="editLead()">
					
					
					<div class="form-group">

					
				     <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" id="inputSuccess2" required="required" placeholder="Prospect Name" ng-model="leadEd.contactName">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control" id="inputSuccess3" required="required" placeholder="Phone" ng-model="leadEd.phoneNumber" input-mask="{mask: '(999) 999-9999'}">
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                      </div>
 
 
 		                              <div class	="col-md-12 xdisplay_inputx form-group has-feedback">
		                                <input type="date" class="form-control has-feedback-left" required="required" id="single_cal2" ng-model="leadEd.leadDate" placeholder="">
		                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
		                                <span id="inputSuccess2Status4" class="sr-only">(success)</span>
		                              </div>


                      <div class="form-group">
                        <div class="col-md-13 col-sm-13 col-xs-12">
                      <input vs-google-autocomplete
                       ng-model="addressDb.name"
                 	   vs-place="address.place" 
                 	   vs-place-id="addressDb.placeId"
                       vs-street-number="addressDb.streetNumber" 
                       vs-street="addressDb.street"
                       vs-city="addressDb.city"
                       vs-state="addressDb.state"
                       vs-country-short="address.components.countryCode"
                       vs-country="address.components.country"
                       vs-post-code="addressDb.postCode"
                       vs-district="address.components.district"
                       vs-latitude="address.components.location.lat"
                       vs-longitude="address.components.location.long"
                 
                 type="text" 
                 name="address"
                 id="address"
                 class="form-control"
                 placeholder="Enter address Google">
                          <span class="fa fa-home form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      
       
                      
                      <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="text" id="streetNumber" readonly="readonly" placeholder="St Number" required="required" ng-model="addressDb.streetNumber"  class="form-control col-md-7 col-xs-12">
                         
                        </div>
                      

                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="street"   readonly="readonly" placeholder="Name" required="required" ng-model="addressDb.street" class="form-control col-md-7 col-xs-12">
                          
                        </div>
                      </div>  

                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="city" readonly="readonly" placeholder="City" required="required" ng-model="addressDb.city" class="form-control col-md-7 col-xs-12">
                        </div>
                        
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="text" id="state" readonly="readonly" placeholder="State" required="required" ng-model="addressDb.state" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>  
                     
                     <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="state" readonly="readonly" placeholder="Zip Code"  required="required" ng-model="addressDb.postCode" class="form-control col-md-7 col-xs-12">
                        </div>
                        

                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="suite" placeholder="Suite/Apto"  ng-model="addressDb.address2" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>  
                      
                      <div class="ln_solid"></div>

                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Appoiment Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="bir" ng-model="leadEd.appoimentDate" class="date-picker form-control col-md-7 col-xs-12" required="required" type="date">
                            </div>
                      </div>   
                      
                      <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Appoiment Hour <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="apphour" ng-model="leadEd.appoimentTime" class="date-picker form-control col-md-7 col-xs-12" placeholder="Ex. 4:00 PM." required="required" type="text">
                            </div>
                      </div>                       
                 
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Origin</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select id="select2" data-width="100%" class="select2_single form-control" required="required" ng-model="leadEd.origin.idOrigin"  ng-options="origins.idOrigin as origins.name for origins in origins">
                          </select>
                        </div>
                      </div>  
                        
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Referral</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select id="select2" data-width="100%" class="form-control" required="required" ng-model="leadEd.referral.idReferral" ng-options="referrals.idReferral as referrals.sureName for referrals in referrals">
                          </select>
                        </div>
                      </div>                      

				  
                      <input type="hidden" id="Place Id"  required="required" ng-model="address.components.placeId"  class="form-control col-md-7 col-xs-12">
                    
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Observations</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <textarea class="form-control" rows="3" ng-model="leadEd.observations"></textarea>
                          
                        </div>
                      </div>                                       

	  			  </div>     
	  			  
	  			  <!-- /Ventana Modal 
	  			  <p> Sellers : {{leadEd.sellers | json}}</p>
	  			  -->
	  			  
	  			                
                      
			                         
                       <div class="ln_solid"></div>
                       <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                      </div>
                        
				</form>
					
                      </div>
                    </div>
                  </div>
                </div>
				
<!-- /Ventana Modal -->     

<!-- /Ventana Modal *** Cambio de Status *** -->           
<div id="editLeadStatus" class="modal fade bs-example-modal-lg-ed"  tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Edit Lead</h4>
                        </div>
                        <div class="modal-body">

					<form class="form-horizontal form-label-left" ng-submit="editLeadStatus()">
					
					
					<div class="form-group">

									                            
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select id="select2_ed" data-width="100%" class="form-control" required="required" ng-model="leadEdSt.statLead" ng-options="tipoStatus.idTipoStatus as tipoStatus.descTipoStatus for tipoStatus in tipoStatus">
                          </select>
                        </div>
                      </div>                      

                      		                         
                       <div class="ln_solid"></div>
                       <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                      </div>
                        
				</form>
				
                      </div>
                    </div>
                  </div>
</div>        
<!-- /Ventana Modal -->
     
  	<script type="text/ng-template" id="borrar.html">
        

                        <div class="modal-header">                          
                          <h4 class="modal-title" >Delete</h4>
                        </div>
                        <div class="modal-body">
                        	<h5>&iquest;Are you sure to delete this item?</h5>
					  					
                      </div>
                      <div class="modal-footer" align="center">
                          <button type="button" class="btn btn-success" ng-click="removeLead(index)">Yes</button>
                          <button type="button" class="btn btn-danger"  ng-click="cancel()">No</button>
                      </div>
                    
    </script>



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->	
        
        
        
           