 <div clas="">

      <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Quotes Estimators per Year<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    
                    <div>
			                <table id="tbqestyear" class="table table-striped table-bordered">
			                      <thead>
			                        <tr>
			                        
			                          <th>Year</th>  
			                          <th>Sure Name</th>
			                          <th>Last Name</th>
									  <th>Total Quotes</th>
									  <th>Pending Quotes</th>
									  <th>On Hold Quotes</th>
									  <th>Total Items</th>
									  <th>Pending Items</th>
									  <th>Ordered Items</th>
			
									  <th>Action</th>
			  
			                        </tr>
			                      </thead>
			                      <tbody>
			                        <tr ng-repeat="qresul in qresul track by $index" class="ng-scope">
			                            <td><a ng-href="">{{qresul.year}}</a></td>
										<td><a ng-href="">{{qresul.name}}</a></td>
										        <td>{{qresul.lastName}}</td>
												<td>{{qresul.total}}</td>
												<td>{{qresul.quotesPend}}</td>
												<td>{{qresul.quotesHold}}</td>
			
												<td>{{qresul.items}}</td>
												<td>{{qresul.itemsPend}}</td>
												<td>{{qresul.itemsOrdened}}</td>
			
												<td>
												        <a class="btn btn-primary btn-xs"><i class="fa fa-folder"></i></a>
												        
												        

												</td>
												
					
										   
			                        </tr>
			
			                      </tbody>

                           </table>    
                      </div>   
                      
                      <br />
                      <br />   
                           
                      <div class="ln_solid"></div>
                       <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-4">
                          
                          
                         <button ng-if="readyRe1 == false" class="btn btn-disabled"" ng-click="btqprint_q1()" disabled><i class="fa fa-print"></i> {{txtPromise}}</button>
                         <button ng-if="readyRe1 == true" class="btn btn-success" ng-click="btqprint_q1()"><i class="fa fa-print"></i> Print</button>
                       
                        </div>
                      </div>                
                    
                    
                    
                  </div>
                </div>
              </div>
            </div>

            
</div>            